Repository t402-io/t402: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, go, python

fix(site): fix all green button text colors across pages
  typescript/site/app/chains/ChainsClient.tsx
  typescript/site/app/features/FeaturesClient.tsx
  typescript/site/app/playground/PlaygroundClient.tsx
  typescript/site/app/sdks/SDKsClient.tsx
  typescript/site/app/use-cases/UseCasesClient.tsx
Due: typescript

chore: add Dependabot config for submodule updates
  .github/dependabot.yml
Due: none

chore: add auto-merge workflow for Dependabot submodule updates
  .github/workflows/dependabot-auto-merge.yml
Due: none

test: enhance test coverage across TypeScript packages
  ROADMAP.md
  typescript/packages/cli/vitest.config.ts
  typescript/packages/mcp/test/unit/constants.test.ts
  typescript/packages/mcp/vitest.config.ts
  typescript/packages/mechanisms/tron/vitest.config.ts
  typescript/packages/wdk-multisig/vitest.config.ts
Due: typescript

chore: update SDK versions and mark Phase 3 complete
  ROADMAP.md
  python/t402/src/t402/__init__.py
Due: python

feat: add security scanning and benchmarking suite
  .github/workflows/codeql.yml
  .github/workflows/facilitator.yml
  ROADMAP.md
  typescript/package.json
  typescript/packages/core/src/bench/http.bench.ts
  typescript/packages/mechanisms/evm/src/bench/tokens.bench.ts
Due: typescript

docs: add TypeDoc API documentation generation
  .github/workflows/api-docs.yml
  .gitignore
  ROADMAP.md
  typescript/package.json
  typescript/pnpm-lock.yaml
  typescript/typedoc.json
Due: typescript

docs: add v1.x to v2.x migration guide
  ROADMAP.md
  docs/pages/advanced/_meta.ts
  docs/pages/advanced/migration-v1-to-v2.mdx
Due: none

docs: integrate TypeDoc API docs into docs.t402.io
  .github/workflows/api-docs.yml
  docs/.gitignore
  docs/package.json
  docs/pages/reference/_meta.ts
  docs/scripts/build-api-docs.sh
Due: none

chore: add Cloudflare Pages wrangler.toml config
  docs/scripts/build-api-docs.sh
  docs/wrangler.toml
Due: none

Path conditions:
  typescript: any of: typescript/, but not: **/test/**, **/tests/**, **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, **/__pycache__/**, **/examples/**, **/docs/**
  go: any of: go/, but not: **/test/**, **/tests/**, **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, **/__pycache__/**, **/examples/**, **/docs/**
  python: any of: python/, but not: **/test/**, **/tests/**, **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, **/__pycache__/**, **/examples/**, **/docs/**
