Repository t402-io/t402: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, go, python

feat(java): add multi-chain support, ERC-4337, bridge, WDK, and CLI
  java/CHANGELOG.md
  java/README.md
  java/src/main/java/io/t402/bridge/BridgeConstants.java
  java/src/main/java/io/t402/bridge/BridgeException.java
  java/src/main/java/io/t402/bridge/BridgeSigner.java
  java/src/main/java/io/t402/bridge/BridgeTypes.java
  java/src/main/java/io/t402/bridge/LayerZeroScanClient.java
  java/src/main/java/io/t402/bridge/Usdt0Bridge.java
  java/src/main/java/io/t402/cli/T402Cli.java
  java/src/main/java/io/t402/crypto/SvmSigner.java
  java/src/main/java/io/t402/crypto/TonSigner.java
  java/src/main/java/io/t402/crypto/TronSigner.java
  java/src/main/java/io/t402/erc4337/BundlerClient.java
  java/src/main/java/io/t402/erc4337/BundlerException.java
  java/src/main/java/io/t402/erc4337/GasEstimate.java
  java/src/main/java/io/t402/erc4337/PaymasterClient.java
  java/src/main/java/io/t402/erc4337/PaymasterData.java
  java/src/main/java/io/t402/erc4337/PaymasterException.java
  java/src/main/java/io/t402/erc4337/UserOperation.java
  java/src/main/java/io/t402/erc4337/UserOperationReceipt.java
  java/src/main/java/io/t402/wdk/WDKChains.java
  java/src/main/java/io/t402/wdk/WDKException.java
  java/src/main/java/io/t402/wdk/WDKSigner.java
  java/src/main/java/io/t402/wdk/WDKTypes.java
  java/src/test/java/io/t402/bridge/BridgeConstantsTest.java
  java/src/test/java/io/t402/bridge/Usdt0BridgeTest.java
  java/src/test/java/io/t402/cli/T402CliTest.java
  java/src/test/java/io/t402/crypto/SvmSignerTest.java
  java/src/test/java/io/t402/crypto/TonSignerTest.java
  java/src/test/java/io/t402/crypto/TronSignerTest.java
  java/src/test/java/io/t402/erc4337/GasEstimateTest.java
  java/src/test/java/io/t402/erc4337/PaymasterDataTest.java
  java/src/test/java/io/t402/erc4337/UserOperationTest.java
  java/src/test/java/io/t402/wdk/WDKChainsTest.java
  java/src/test/java/io/t402/wdk/WDKSignerTest.java
Due: none

fix(grafana): make contact-points and notification-policies templates
  services/facilitator/grafana/provisioning/alerting/contact-points.yml
  services/facilitator/grafana/provisioning/alerting/notification-policies.yml
Due: none

chore: remove obsolete PNG flow diagrams replaced by Mermaid
  static/flow.png
  static/sui-exact-flow.png
Due: none

feat(go,python): add MCP Server for AI agent integration
  go/CHANGELOG.md
  go/cmd/t402-mcp/main.go
  go/mcp/constants.go
  go/mcp/mcp_test.go
  go/mcp/server.go
  go/mcp/tools.go
  go/mcp/types.go
  python/CHANGELOG.md
  python/t402/src/t402/mcp/__init__.py
  python/t402/src/t402/mcp/constants.py
  python/t402/src/t402/mcp/server.py
  python/t402/src/t402/mcp/tools.py
  python/t402/src/t402/mcp/types.py
  python/t402/tests/test_bridge.py
  python/t402/tests/test_mcp.py
Due: go, python

fix(grafana): move dashboards to /etc/grafana to avoid volume override
  services/facilitator/grafana/Dockerfile
  services/facilitator/grafana/provisioning/dashboards/default.yml
Due: none

docs(plan): mark completed SDK tasks and update feature matrix
  PLAN.md
Due: none

feat(java): add MCP Server for AI agent integration
  java/CHANGELOG.md
  java/README.md
  java/src/main/java/io/t402/mcp/McpConstants.java
  java/src/main/java/io/t402/mcp/McpServer.java
  java/src/main/java/io/t402/mcp/McpTools.java
  java/src/main/java/io/t402/mcp/McpTypes.java
  java/src/main/java/io/t402/mcp/T402Mcp.java
  java/src/test/java/io/t402/mcp/McpServerTest.java
Due: none

feat(python): release v1.6.0 with MCP server and SVM support
  CLAUDE.md
  README.md
  python/CHANGELOG.md
  python/t402/pyproject.toml
Due: python

feat(go): release v1.4.0 with WDK and MCP server
  CLAUDE.md
  README.md
  go/CHANGELOG.md
Due: go

fix(python): resolve ruff linting errors in MCP server
  python/t402/src/t402/mcp/server.py
  python/t402/src/t402/mcp/types.py
Due: python

fix(java): fix compilation errors and test failures
  .claude/commands/pm.md
  java/src/main/java/io/t402/cli/T402Cli.java
  java/src/main/java/io/t402/mcp/McpTypes.java
Due: none

fix(java): fix compilation errors and test failures
  .claude/commands/pm.md
  java/src/main/java/io/t402/cli/T402Cli.java
  java/src/main/java/io/t402/mcp/McpTypes.java
  services/facilitator/coverage.out
Due: none

fix(java): fix compilation errors and test failures
  java/src/main/java/io/t402/cli/T402Cli.java
  java/src/main/java/io/t402/mcp/McpTypes.java
Due: none

ci(go): update test matrix to match go.mod requirement
  .github/workflows/go_release.yml
Due: none

test(go/mcp): fix flaky server tests with proper EOF handling
  go/mcp/mcp_test.go
Due: go

fix(java): fix test failures in bridge and signer validation
  java/src/main/java/io/t402/bridge/BridgeConstants.java
  java/src/main/java/io/t402/crypto/TonSigner.java
  java/src/main/java/io/t402/crypto/TronSigner.java
  java/src/test/java/io/t402/crypto/TronSignerTest.java
Due: none

Path conditions:
  typescript: any of: typescript/, but not: **/test/**, **/tests/**, **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, **/__pycache__/**, **/examples/**, **/docs/**
  go: any of: go/, but not: **/test/**, **/tests/**, **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, **/__pycache__/**, **/examples/**, **/docs/**
  python: any of: python/, but not: **/test/**, **/tests/**, **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, **/__pycache__/**, **/examples/**, **/docs/**
