Repository t402-io/t402: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, go, python

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "60...100"
  status:
    project:
      default:
        target: auto
        threshold: 2%
        informational: true
    patch:
      default:
        target: auto
        threshold: 2%
        informational: true

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

flags:
  typescript:
    paths:
      - typescript/
    carryforward: true
  go:
    paths:
      - go/
    carryforward: true
  python:
    paths:
      - python/
    carryforward: true

ignore:
  - "**/test/**"
  - "**/tests/**"
  - "**/*.test.ts"
  - "**/*.spec.ts"
  - "**/dist/**"
  - "**/node_modules/**"
  - "**/__pycache__/**"
  - "**/examples/**"
  - "**/docs/**"

feat(near): add Near Protocol support with exact-direct scheme
  USDT_FULL_COVERAGE_PLAN.md
  go/mechanisms/near/constants.go
  go/mechanisms/near/exact-direct/facilitator/scheme.go
  go/mechanisms/near/types.go
  specs/schemes/exact-direct/scheme_exact_direct.md
  specs/schemes/exact-direct/scheme_exact_direct_near.md
Due: go

feat(near): add @t402/near TypeScript mechanism package
  typescript/packages/mechanisms/near/.prettierrc
  typescript/packages/mechanisms/near/package.json
  typescript/packages/mechanisms/near/src/constants.ts
  typescript/packages/mechanisms/near/src/exact-direct/client/index.ts
  typescript/packages/mechanisms/near/src/exact-direct/client/register.ts
  typescript/packages/mechanisms/near/src/exact-direct/client/scheme.ts
  typescript/packages/mechanisms/near/src/exact-direct/facilitator/index.ts
  typescript/packages/mechanisms/near/src/exact-direct/facilitator/register.ts
  typescript/packages/mechanisms/near/src/exact-direct/facilitator/scheme.ts
  typescript/packages/mechanisms/near/src/exact-direct/index.ts
  typescript/packages/mechanisms/near/src/exact-direct/server/index.ts
  typescript/packages/mechanisms/near/src/exact-direct/server/register.ts
  typescript/packages/mechanisms/near/src/exact-direct/server/scheme.ts
  typescript/packages/mechanisms/near/src/index.ts
  typescript/packages/mechanisms/near/src/tokens.ts
  typescript/packages/mechanisms/near/src/types.ts
  typescript/packages/mechanisms/near/src/utils.ts
  typescript/packages/mechanisms/near/test/unit/constants.test.ts
  typescript/packages/mechanisms/near/test/unit/tokens.test.ts
  typescript/packages/mechanisms/near/test/unit/utils.test.ts
  typescript/packages/mechanisms/near/tsconfig.json
  typescript/packages/mechanisms/near/tsup.config.ts
  typescript/packages/mechanisms/near/vitest.config.ts
  typescript/pnpm-lock.yaml
Due: typescript

feat(facilitator): add NEAR Protocol support
  services/facilitator/cmd/facilitator/main.go
  services/facilitator/internal/config/config.go
Due: none

docs: mark NEAR Protocol as complete in coverage plan
  USDT_FULL_COVERAGE_PLAN.md
Due: none

docs: add NEAR Protocol to CLAUDE.md
  CLAUDE.md
Due: none

feat(aptos): add @t402/aptos TypeScript mechanism package
  typescript/packages/mechanisms/aptos/package.json
  typescript/packages/mechanisms/aptos/src/constants.ts
  typescript/packages/mechanisms/aptos/src/exact-direct/client/index.ts
  typescript/packages/mechanisms/aptos/src/exact-direct/client/register.ts
  typescript/packages/mechanisms/aptos/src/exact-direct/client/scheme.ts
  typescript/packages/mechanisms/aptos/src/exact-direct/facilitator/index.ts
  typescript/packages/mechanisms/aptos/src/exact-direct/facilitator/register.ts
  typescript/packages/mechanisms/aptos/src/exact-direct/facilitator/scheme.ts
  typescript/packages/mechanisms/aptos/src/exact-direct/server/index.ts
  typescript/packages/mechanisms/aptos/src/exact-direct/server/register.ts
  typescript/packages/mechanisms/aptos/src/exact-direct/server/scheme.ts
  typescript/packages/mechanisms/aptos/src/index.ts
  typescript/packages/mechanisms/aptos/src/tokens.ts
  typescript/packages/mechanisms/aptos/src/types.ts
  typescript/packages/mechanisms/aptos/src/utils.ts
  typescript/packages/mechanisms/aptos/test/unit/constants.test.ts
  typescript/packages/mechanisms/aptos/test/unit/tokens.test.ts
  typescript/packages/mechanisms/aptos/test/unit/utils.test.ts
  typescript/packages/mechanisms/aptos/tsconfig.json
  typescript/packages/mechanisms/aptos/tsup.config.ts
Due: typescript

feat(aptos): add Aptos mechanism to Go Facilitator
  go/mechanisms/aptos/constants.go
  go/mechanisms/aptos/exact-direct/facilitator/scheme.go
  go/mechanisms/aptos/types.go
Due: go

feat(aptos): add Aptos mechanism to Go Facilitator
  go/mechanisms/aptos/constants.go
  go/mechanisms/aptos/exact-direct/facilitator/scheme.go
  go/mechanisms/aptos/types.go
  services/facilitator/cmd/facilitator/main.go
  services/facilitator/internal/config/config.go
Due: go

docs: add Aptos mechanism documentation to CLAUDE.md
  CLAUDE.md
Due: none

docs: mark Aptos as complete in USDT coverage plan
  USDT_FULL_COVERAGE_PLAN.md
Due: none

feat(tezos): add @t402/tezos TypeScript mechanism package
  typescript/packages/mechanisms/tezos/package.json
  typescript/packages/mechanisms/tezos/src/constants.ts
  typescript/packages/mechanisms/tezos/src/exact-direct/client/index.ts
  typescript/packages/mechanisms/tezos/src/exact-direct/client/register.ts
  typescript/packages/mechanisms/tezos/src/exact-direct/client/scheme.ts
  typescript/packages/mechanisms/tezos/src/exact-direct/facilitator/index.ts
  typescript/packages/mechanisms/tezos/src/exact-direct/facilitator/register.ts
  typescript/packages/mechanisms/tezos/src/exact-direct/facilitator/scheme.ts
  typescript/packages/mechanisms/tezos/src/exact-direct/server/index.ts
  typescript/packages/mechanisms/tezos/src/exact-direct/server/register.ts
  typescript/packages/mechanisms/tezos/src/exact-direct/server/scheme.ts
  typescript/packages/mechanisms/tezos/src/index.ts
  typescript/packages/mechanisms/tezos/src/tokens.ts
  typescript/packages/mechanisms/tezos/src/types.ts
  typescript/packages/mechanisms/tezos/src/utils.ts
  typescript/packages/mechanisms/tezos/tsconfig.json
  typescript/packages/mechanisms/tezos/tsup.config.ts
Due: typescript

feat(tezos): add Tezos mechanism to Go Facilitator
  go/mechanisms/tezos/constants.go
  go/mechanisms/tezos/exact-direct/facilitator/scheme.go
  go/mechanisms/tezos/types.go
  services/facilitator/cmd/facilitator/main.go
  services/facilitator/internal/config/config.go
Due: go

feat(tezos): add Tezos mechanism to Go Facilitator
  go/mechanisms/tezos/constants.go
  go/mechanisms/tezos/exact-direct/facilitator/scheme.go
  go/mechanisms/tezos/types.go
Due: go

docs: add Tezos mechanism documentation
  CLAUDE.md
  USDT_FULL_COVERAGE_PLAN.md
Due: none

feat(polkadot): add Polkadot Asset Hub mechanism support
  go/mechanisms/polkadot/constants.go
  go/mechanisms/polkadot/exact-direct/facilitator/scheme.go
  go/mechanisms/polkadot/types.go
  services/facilitator/cmd/facilitator/main.go
  services/facilitator/internal/config/config.go
  typescript/packages/mechanisms/polkadot/package.json
  typescript/packages/mechanisms/polkadot/src/constants.ts
  typescript/packages/mechanisms/polkadot/src/exact-direct/client/index.ts
  typescript/packages/mechanisms/polkadot/src/exact-direct/client/scheme.ts
  typescript/packages/mechanisms/polkadot/src/exact-direct/facilitator/index.ts
  typescript/packages/mechanisms/polkadot/src/exact-direct/facilitator/scheme.ts
  typescript/packages/mechanisms/polkadot/src/exact-direct/server/index.ts
  typescript/packages/mechanisms/polkadot/src/exact-direct/server/register.ts
  typescript/packages/mechanisms/polkadot/src/exact-direct/server/scheme.ts
  typescript/packages/mechanisms/polkadot/src/index.ts
  typescript/packages/mechanisms/polkadot/src/tokens.ts
  typescript/packages/mechanisms/polkadot/src/types.ts
  typescript/packages/mechanisms/polkadot/src/utils.ts
  typescript/packages/mechanisms/polkadot/tsconfig.json
  typescript/packages/mechanisms/polkadot/tsup.config.ts
  typescript/pnpm-lock.yaml
Due: typescript, go

feat(polkadot): add Polkadot Asset Hub mechanism support
  go/mechanisms/polkadot/constants.go
  go/mechanisms/polkadot/exact-direct/facilitator/scheme.go
  go/mechanisms/polkadot/types.go
  typescript/packages/mechanisms/polkadot/package.json
  typescript/packages/mechanisms/polkadot/src/constants.ts
  typescript/packages/mechanisms/polkadot/src/exact-direct/client/index.ts
  typescript/packages/mechanisms/polkadot/src/exact-direct/client/scheme.ts
  typescript/packages/mechanisms/polkadot/src/exact-direct/facilitator/index.ts
  typescript/packages/mechanisms/polkadot/src/exact-direct/facilitator/scheme.ts
  typescript/packages/mechanisms/polkadot/src/exact-direct/server/index.ts
  typescript/packages/mechanisms/polkadot/src/exact-direct/server/register.ts
  typescript/packages/mechanisms/polkadot/src/exact-direct/server/scheme.ts
  typescript/packages/mechanisms/polkadot/src/index.ts
  typescript/packages/mechanisms/polkadot/src/tokens.ts
  typescript/packages/mechanisms/polkadot/src/types.ts
  typescript/packages/mechanisms/polkadot/src/utils.ts
  typescript/packages/mechanisms/polkadot/tsconfig.json
  typescript/packages/mechanisms/polkadot/tsup.config.ts
  typescript/pnpm-lock.yaml
Due: typescript, go

docs: mark Polkadot Asset Hub as complete in coverage plan
  USDT_FULL_COVERAGE_PLAN.md
Due: none
