Repository t402-io/t402: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, go, python

docs: archive development plan - v2.0 SDK complete
  DEVELOPMENT_PLAN.md
Due: none

fix(java): correct USDT0 OFT token addresses
  java/src/main/java/io/t402/bridge/BridgeConstants.java
  java/src/main/java/io/t402/wdk/WDKChains.java
  java/src/test/java/io/t402/bridge/BridgeConstantsTest.java
  java/src/test/java/io/t402/bridge/Usdt0BridgeTest.java
Due: none

feat(go/mcp): implement bridge and gasless payment features
  go/mcp/bridge.go
  go/mcp/gasless.go
  go/mcp/tools.go
Due: go

chore: update lockfiles
  contracts/foundry.lock
  python/t402/uv.lock
Due: python

chore: ignore internal docs directory
  .gitignore
Due: none

feat(java): implement real crypto for TON and TRON signers
  DEVELOPMENT_PLAN.md
  java/src/main/java/io/t402/crypto/TonSigner.java
  java/src/main/java/io/t402/crypto/TronSigner.java
Due: none

chore: prepare Go v1.8.0 and Java v1.7.0 releases
  CLAUDE.md
  go/CHANGELOG.md
  java/CHANGELOG.md
  java/pom.xml
Due: go

fix(facilitator): security improvements from internal audit
  services/facilitator/.gitignore
  services/facilitator/cmd/facilitator/main.go
  services/facilitator/cmd/facilitator/ton_signer.go
  services/facilitator/go.mod
  services/facilitator/internal/config/config.go
  services/facilitator/internal/server/middleware.go
  services/facilitator/internal/server/server.go
Due: none

test(facilitator): update CORS middleware tests for configurable origins
  services/facilitator/internal/server/middleware_test.go
Due: none

config(facilitator): restrict CORS to t402.io domains
  services/facilitator/.env.prod.example
  services/facilitator/docker-compose.prod.yaml
Due: none

fix(facilitator): update dependencies to fix 14 vulnerabilities
  services/facilitator/go.mod
  services/facilitator/go.sum
Due: none

fix(typescript): update dependencies to fix 14 vulnerabilities
  typescript/package.json
  typescript/pnpm-lock.yaml
Due: typescript

fix(typescript): sync package.json files with lockfile
  typescript/packages/cli/package.json
  typescript/packages/core/package.json
  typescript/packages/extensions/package.json
  typescript/packages/http/axios/package.json
  typescript/packages/http/express/package.json
  typescript/packages/http/fastify/package.json
  typescript/packages/http/fetch/package.json
  typescript/packages/http/hono/package.json
  typescript/packages/http/next/package.json
  typescript/packages/http/paywall/package.json
  typescript/packages/http/react/package.json
  typescript/packages/http/vue/package.json
  typescript/packages/mcp/package.json
  typescript/packages/mechanisms/evm-core/package.json
  typescript/packages/mechanisms/evm/package.json
  typescript/packages/mechanisms/svm/package.json
  typescript/packages/mechanisms/ton/package.json
  typescript/packages/mechanisms/tron/package.json
  typescript/packages/wdk-bridge/package.json
  typescript/packages/wdk-gasless/package.json
  typescript/packages/wdk-multisig/package.json
  typescript/packages/wdk/package.json
Due: typescript

docs: add complete URL list to CLAUDE.md
  CLAUDE.md
Due: none

docs: comprehensive CLAUDE.md rewrite with full project context
  CLAUDE.md
Due: none

Path conditions:
  typescript: any of: typescript/, but not: **/test/**, **/tests/**, **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, **/__pycache__/**, **/examples/**, **/docs/**
  go: any of: go/, but not: **/test/**, **/tests/**, **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, **/__pycache__/**, **/examples/**, **/docs/**
  python: any of: python/, but not: **/test/**, **/tests/**, **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, **/__pycache__/**, **/examples/**, **/docs/**
