Repository t402-io/t402: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, go, python

feat(ci): enable auto-publish for Maven Central
  .github/workflows/java_release.yml
Due: none

docs(plan): mark Java SDK v1.0.0 as published
  PLAN.md
Due: none

docs(readme): update SDK feature matrix and versions
  README.md
Due: none

docs(java): update CHANGELOG for v1.0.0 release
  java/CHANGELOG.md
Due: none

docs(java): complete Java SDK documentation page
  docs/pages/sdks/java.mdx
Due: none

docs: update facilitator URLs and SDK versions
  ROADMAP.md
  examples/go/servers/advanced/README.md
  examples/go/servers/custom/README.md
  examples/go/servers/gin/README.md
  examples/go/servers/gin/main.go
  examples/go/servers/ton/README.md
  examples/go/servers/ton/main.go
  examples/go/servers/tron/README.md
  examples/go/servers/tron/main.go
  examples/python/flask-ton/README.md
  examples/python/flask-ton/app.py
  examples/python/flask-tron/app.py
  examples/typescript/fullstack/next/README.md
  examples/typescript/servers/advanced/README.md
  examples/typescript/servers/custom/README.md
  examples/typescript/servers/express/README.md
  examples/typescript/servers/hono/README.md
  examples/typescript/servers/ton/README.md
  examples/typescript/servers/ton/index.ts
  examples/typescript/servers/tron/index.ts
  go/SERVER.md
  go/http/facilitator_client.go
  python/t402/src/t402/facilitator.py
  python/t402/src/t402/fastapi/middleware.py
  typescript/packages/core/README.md
  typescript/packages/core/src/http/httpFacilitatorClient.ts
  typescript/packages/extensions/README.md
Due: typescript, go, python

feat(go): add SmartBridgeRouter for multi-chain intelligent routing
  go/mechanisms/evm/bridge/constants.go
  go/mechanisms/evm/bridge/multi_chain_signer.go
  go/mechanisms/evm/bridge/smart_router.go
  go/mechanisms/evm/bridge/smart_router_test.go
  go/mechanisms/evm/bridge/smart_router_types.go
  go/wdk/signer.go
Due: go

fix(typescript): fix @t402/next deps and add wdk-gasless tests
  typescript/packages/http/next/package.json
  typescript/packages/wdk-gasless/src/account.test.ts
  typescript/packages/wdk-gasless/src/client.test.ts
Due: typescript

docs(go): add SmartBridgeRouter to changelog
  go/CHANGELOG.md
Due: go

chore: update pnpm lockfile for @t402/next dep changes
  typescript/pnpm-lock.yaml
Due: typescript

docs(go): release v1.5.0 with SmartBridgeRouter
  go/CHANGELOG.md
Due: go

docs: update Go SDK version to 1.5.0
  CLAUDE.md
Due: none

docs(go): add Smart Bridge Router documentation
  docs/pages/sdks/go/_meta.ts
  docs/pages/sdks/go/index.mdx
  docs/pages/sdks/go/smart-router.mdx
Due: none

docs(typescript): add READMEs for wdk and cli packages
  typescript/packages/cli/README.md
  typescript/packages/wdk-bridge/README.md
  typescript/packages/wdk-gasless/README.md
  typescript/packages/wdk-multisig/README.md
Due: typescript

Path conditions:
  typescript: any of: typescript/, but not: **/test/**, **/tests/**, **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, **/__pycache__/**, **/examples/**, **/docs/**
  go: any of: go/, but not: **/test/**, **/tests/**, **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, **/__pycache__/**, **/examples/**, **/docs/**
  python: any of: python/, but not: **/test/**, **/tests/**, **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, **/__pycache__/**, **/examples/**, **/docs/**
