Repository t402-io/t402: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, go, python

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "60...100"
  status:
    project:
      default:
        target: auto
        threshold: 2%
        informational: true
    patch:
      default:
        target: auto
        threshold: 2%
        informational: true

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

flags:
  typescript:
    paths:
      - typescript/
    carryforward: true
  go:
    paths:
      - go/
    carryforward: true
  python:
    paths:
      - python/
    carryforward: true

ignore:
  - "**/test/**"
  - "**/tests/**"
  - "**/*.test.ts"
  - "**/*.spec.ts"
  - "**/dist/**"
  - "**/node_modules/**"
  - "**/__pycache__/**"
  - "**/examples/**"
  - "**/docs/**"

docs: update Python version to 1.7.1
  README.md
  ROADMAP.md
Due: none

docs: update Python SDK version to 1.7.1 in CLAUDE.md
  CLAUDE.md
Due: none

docs: update Python version to 1.7.1 in CHANGELOG
  CHANGELOG.md
Due: none

docs(java): update SDK docs for v1.1.0 with new features
  docs/pages/sdks/java.mdx
Due: none

docs: fix version inconsistencies and enhance specs navigation
  CLAUDE.md
  java/README.md
  python/CHANGELOG.md
  specs/README.md
Due: python

docs(typescript): add SDK README for package overview
  typescript/README.md
Due: typescript

docs: comprehensive documentation optimization and cleanup
  BUG_BOUNTY.md
  CHANGELOG.md
  CLAUDE.md
  RELEASING.md
  ROADMAP.md
  SECURITY.md
  docs/pages/chains/index.mdx
  docs/pages/use-cases/ai-payments.mdx
  java/CONTRIBUTING.md
  services/facilitator/CONTRIBUTING.md
  specs/README.md
  specs/schemes/exact/scheme_exact_ton.md
  specs/schemes/exact/scheme_exact_tron.md
  specs/t402-specification-v1.md
  specs/transports-v1/a2a.md
  specs/transports-v1/http.md
  specs/transports-v1/mcp.md
  typescript/README.md
Due: typescript

docs: comprehensive documentation optimization and cleanup
  BUG_BOUNTY.md
  CHANGELOG.md
  CLAUDE.md
  RELEASING.md
  ROADMAP.md
  SECURITY.md
  docs/pages/chains/index.mdx
  docs/pages/use-cases/ai-payments.mdx
  java/CONTRIBUTING.md
  specs/README.md
  specs/schemes/exact/scheme_exact_ton.md
  specs/schemes/exact/scheme_exact_tron.md
  specs/t402-specification-v1.md
  specs/transports-v1/a2a.md
  specs/transports-v1/http.md
  specs/transports-v1/mcp.md
  typescript/README.md
Due: typescript

docs: expand SDK documentation and add deployment guides
  docs/pages/advanced/_meta.ts
  docs/pages/advanced/best-practices.mdx
  docs/pages/advanced/deployment.mdx
  docs/pages/sdks/go/_meta.ts
  docs/pages/sdks/go/client.mdx
  docs/pages/sdks/go/facilitator.mdx
  docs/pages/sdks/go/server.mdx
  docs/pages/sdks/python.mdx
  docs/pages/sdks/typescript/index.mdx
  docs/pages/use-cases/index.mdx
Due: none

fix(ci): resolve Java SpotBugs issues and improve CI/CD workflows
  .github/workflows/changeset_release.yml
  .github/workflows/unit_tests.yml
  ROADMAP.md
  java/src/main/java/io/t402/erc4337/safe/SafeAccount.java
  java/src/main/java/io/t402/mcp/McpServer.java
  java/src/main/java/io/t402/wdk/WDKSigner.java
Due: none

docs: mark @t402/tron v2.0.0 alignment as complete
  ROADMAP.md
Due: none

feat(ci): migrate site deployment from Vercel to Cloudflare Pages
  .github/workflows/site.yml
  typescript/site/next.config.ts
  typescript/site/package.json
  vercel.json
Due: typescript

chore: update lockfile for Cloudflare dependencies
  typescript/pnpm-lock.yaml
Due: typescript

fix(ci): switch to OpenNext adapter for Cloudflare Pages
  .github/workflows/site.yml
  typescript/pnpm-lock.yaml
  typescript/site/package.json
  typescript/site/wrangler.jsonc
Due: typescript
