Repository t402-io/t402: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, go, python

fix(java): fix test failures in bridge and signer validation
  java/src/main/java/io/t402/bridge/BridgeConstants.java
  java/src/main/java/io/t402/crypto/TonSigner.java
  java/src/main/java/io/t402/crypto/TronSigner.java
  java/src/test/java/io/t402/crypto/TronSignerTest.java
Due: none

feat(grafana): add security monitoring and multi-chain alerts
  services/facilitator/grafana/dashboards/facilitator.json
  services/facilitator/grafana/provisioning/alerting/alerts.yml
  services/facilitator/grafana/provisioning/datasources/prometheus.yml
Due: none

fix(python): add pytest.ini for correct asyncio test configuration
  python/pytest.ini
Due: python

feat(grafana): add dashboard variables and Redis deep-dive panels
  services/facilitator/grafana/dashboards/facilitator.json
Due: none

fix(svm): remove decompileTransactionMessage to fix @solana/kit type compatibility
  typescript/packages/mechanisms/svm/src/exact/facilitator/scheme.ts
  typescript/packages/mechanisms/svm/src/exact/v1/facilitator/scheme.ts
Due: typescript

feat(grafana): add CI/CD hardening with smoke tests and notifications
  .github/workflows/grafana.yml
Due: none

feat(grafana): add CI/CD hardening with smoke tests and notifications
  .github/workflows/grafana.yml
  services/facilitator/docker-compose.prod.yaml
  services/facilitator/grafana/ROLLBACK.md
Due: none

fix(ci): resolve Solana package compatibility and add pytest-cov
  python/t402/pyproject.toml
  python/t402/uv.lock
  typescript/packages/mechanisms/svm/package.json
  typescript/pnpm-lock.yaml
Due: typescript, python

docs(plan): add WDK/USDT0 feature completeness plan
  PLAN.md
Due: none

fix(watchtower): simplify notification config to avoid YAML parsing issues
  services/facilitator/docker-compose.prod.yaml
Due: none

ci: update Go test matrix to only include Go 1.24
  .github/workflows/unit_tests.yml
Due: none

feat(python/svm): add complete SVM mechanism with client/server/facilitator schemes
  PLAN.md
  python/t402/src/t402/__init__.py
  python/t402/src/t402/svm.py
  python/t402/tests/test_svm.py
Due: python

chore(python): bump version to 1.6.1
  python/t402/pyproject.toml
Due: python

fix(mcp): resolve flaky test race condition
  go/mcp/mcp_test.go
Due: go

fix(ci): align download-artifact version with upload-artifact
  .github/workflows/java_release.yml
Due: none

fix(ci): fix Java dry run to build artifacts first
  .github/workflows/java_release.yml
Due: none

Path conditions:
  typescript: any of: typescript/, but not: **/test/**, **/tests/**, **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, **/__pycache__/**, **/examples/**, **/docs/**
  go: any of: go/, but not: **/test/**, **/tests/**, **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, **/__pycache__/**, **/examples/**, **/docs/**
  python: any of: python/, but not: **/test/**, **/tests/**, **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, **/__pycache__/**, **/examples/**, **/docs/**
