Repository t402-io/t402: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, go, python

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "60...100"
  status:
    project:
      default:
        target: auto
        threshold: 2%
        informational: true
    patch:
      default:
        target: auto
        threshold: 2%
        informational: true

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

flags:
  typescript:
    paths:
      - typescript/
    carryforward: true
  go:
    paths:
      - go/
    carryforward: true
  python:
    paths:
      - python/
    carryforward: true

ignore:
  - "**/test/**"
  - "**/tests/**"
  - "**/*.test.ts"
  - "**/*.spec.ts"
  - "**/dist/**"
  - "**/node_modules/**"
  - "**/__pycache__/**"
  - "**/examples/**"
  - "**/docs/**"

fix(ci): use twine directly for PyPI publish, bump to v1.5.3
  .github/workflows/python_release.yml
  python/t402/pyproject.toml
  python/t402/src/t402/__init__.py
Due: python

docs: add CHANGELOG files for all SDKs
  CHANGELOG.md
  go/CHANGELOG.md
  python/CHANGELOG.md
  typescript/CHANGELOG.md
Due: typescript, go, python

docs: update README with latest SDK versions and badges
  README.md
Due: none

chore(deps): bump the actions group with 11 updates (#5)
  .github/workflows/changeset_release.yml
  .github/workflows/check_format.yml
  .github/workflows/check_lint.yml
  .github/workflows/check_package_lock.yml
  .github/workflows/check_python.yml
  .github/workflows/docs.yml
  .github/workflows/facilitator.yml
  .github/workflows/go_release.yml
  .github/workflows/integration_tests.yml
  .github/workflows/java.yml
  .github/workflows/npm_release.yml
  .github/workflows/python_release.yml
  .github/workflows/unit_tests.yml
Due: none

chore(deps): bump github.com/ethereum/go-ethereum (#1)
  go/go.mod
  go/go.sum
Due: go

chore(deps): bump the viem group in /typescript with 3 updates (#7)
  typescript/packages/cli/package.json
  typescript/packages/http/express/package.json
  typescript/packages/http/fetch/package.json
  typescript/packages/http/paywall/package.json
  typescript/packages/mcp/package.json
  typescript/packages/mechanisms/evm/package.json
  typescript/packages/wdk-bridge/package.json
  typescript/packages/wdk-gasless/package.json
  typescript/packages/wdk-multisig/package.json
  typescript/packages/wdk/package.json
  typescript/pnpm-lock.yaml
  typescript/site/package.json
Due: typescript

chore(deps): bump the java-deps group in /java with 9 updates (#2)
  java/pom.xml
Due: none

chore(deps-dev): bump org.junit.jupiter:junit-jupiter in /java (#3)
  java/pom.xml
Due: none

chore(deps): bump com.puppycrawl.tools:checkstyle in /java (#4)
  java/pom.xml
Due: none

chore(deps-dev): bump express and @types/express in /typescript
  typescript/packages/http/express/package.json
  typescript/pnpm-lock.yaml
Due: typescript

chore(deps-dev): bump fastify from 5.6.2 to 5.7.0 in /typescript
  typescript/packages/http/fastify/package.json
  typescript/pnpm-lock.yaml
Due: typescript

chore(deps): bump the solana group in /typescript with 2 updates (#8)
  typescript/packages/http/express/package.json
  typescript/packages/http/paywall/package.json
  typescript/packages/mechanisms/svm/package.json
  typescript/pnpm-lock.yaml
  typescript/site/package.json
Due: typescript

chore(deps): bump the ton group in /typescript with 2 updates (#9)
  typescript/packages/mechanisms/ton/package.json
  typescript/pnpm-lock.yaml
Due: typescript

chore(deps-dev): bump vite from 6.3.5 to 7.3.1 in /typescript (#10)
  typescript/packages/core/package.json
  typescript/packages/extensions/package.json
  typescript/packages/http/axios/package.json
  typescript/packages/http/express/package.json
  typescript/packages/http/fastify/package.json
  typescript/packages/http/fetch/package.json
  typescript/packages/http/hono/package.json
  typescript/packages/http/next/package.json
  typescript/packages/http/paywall/package.json
  typescript/packages/http/react/package.json
  typescript/packages/http/vue/package.json
  typescript/packages/mcp/package.json
  typescript/packages/mechanisms/evm/package.json
  typescript/packages/mechanisms/svm/package.json
  typescript/packages/mechanisms/ton/package.json
  typescript/packages/mechanisms/tron/package.json
  typescript/packages/wdk-bridge/package.json
  typescript/packages/wdk-gasless/package.json
  typescript/packages/wdk-multisig/package.json
  typescript/packages/wdk/package.json
  typescript/pnpm-lock.yaml
Due: typescript

fix(docker): use 127.0.0.1 instead of localhost in health checks
  services/facilitator/Dockerfile
  services/facilitator/docker-compose.prod.yaml
Due: none

chore(deps-dev): bump tsx from 4.20.5 to 4.21.0 in /typescript
  typescript/packages/core/package.json
  typescript/packages/extensions/package.json
  typescript/packages/http/axios/package.json
  typescript/packages/http/express/package.json
  typescript/packages/http/fastify/package.json
  typescript/packages/http/fetch/package.json
  typescript/packages/http/hono/package.json
  typescript/packages/http/next/package.json
  typescript/packages/http/paywall/package.json
  typescript/packages/http/react/package.json
  typescript/packages/http/vue/package.json
  typescript/packages/mcp/package.json
  typescript/packages/mechanisms/evm/package.json
  typescript/packages/mechanisms/svm/package.json
  typescript/packages/mechanisms/ton/package.json
  typescript/packages/mechanisms/tron/package.json
  typescript/packages/wdk-bridge/package.json
  typescript/packages/wdk-gasless/package.json
  typescript/packages/wdk-multisig/package.json
  typescript/packages/wdk/package.json
  typescript/pnpm-lock.yaml
Due: typescript

chore(deps): bump @solana-program/token-2022 in /typescript
  typescript/packages/http/paywall/package.json
  typescript/packages/mechanisms/svm/package.json
  typescript/pnpm-lock.yaml
Due: typescript

fix(facilitator): set version to 2.0.0 at build time
  .github/workflows/facilitator.yml
  services/facilitator/Dockerfile
Due: none

fix(facilitator): set version to 2.0.0 at build time
  .github/workflows/facilitator.yml
Due: none

chore(deps-dev): bump @vitejs/plugin-vue in /typescript
  typescript/packages/http/vue/package.json
  typescript/pnpm-lock.yaml
Due: typescript
