Repository t402-io/t402: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, go, python

feat(java): implement upto scheme types
  DEVELOPMENT_PLAN.md
  java/src/main/java/io/t402/schemes/evm/upto/PermitAuthorization.java
  java/src/main/java/io/t402/schemes/evm/upto/PermitSignature.java
  java/src/main/java/io/t402/schemes/evm/upto/UptoEIP2612Payload.java
  java/src/main/java/io/t402/schemes/evm/upto/UptoEvmExtra.java
  java/src/main/java/io/t402/schemes/evm/upto/UptoEvmSettlement.java
  java/src/main/java/io/t402/schemes/evm/upto/UptoEvmTypes.java
  java/src/main/java/io/t402/schemes/evm/upto/UptoEvmUsageDetails.java
  java/src/main/java/io/t402/schemes/upto/UptoConstants.java
  java/src/main/java/io/t402/schemes/upto/UptoExtra.java
  java/src/main/java/io/t402/schemes/upto/UptoPaymentRequirements.java
  java/src/main/java/io/t402/schemes/upto/UptoSettlement.java
  java/src/main/java/io/t402/schemes/upto/UptoSettlementResponse.java
  java/src/main/java/io/t402/schemes/upto/UptoUsageDetails.java
  java/src/main/java/io/t402/schemes/upto/UptoUtils.java
  java/src/main/java/io/t402/schemes/upto/UptoValidationResult.java
  java/src/test/java/io/t402/schemes/evm/upto/UptoEvmTypesTest.java
  java/src/test/java/io/t402/schemes/upto/UptoTypesTest.java
Due: none

fix(types): make PaymentPayload.resource optional per v2 spec
  python/t402/src/t402/types.py
  typescript/packages/core/src/types/payments.ts
Due: typescript, python

docs: update changelog with PaymentPayload.resource optionality fix
  CHANGELOG.md
Due: none

docs: add upto scheme documentation
  docs/pages/_meta.ts
  docs/pages/getting-started/concepts.mdx
  docs/pages/schemes/_meta.ts
  docs/pages/schemes/index.mdx
  docs/pages/schemes/upto.mdx
Due: none

docs: update changelogs with upto scheme additions
  go/CHANGELOG.md
  java/CHANGELOG.md
  python/CHANGELOG.md
  typescript/CHANGELOG.md
Due: typescript, go, python

docs: update development plan with upto completion status
  DEVELOPMENT_PLAN.md
Due: none

chore: bump SDK versions for release
  CLAUDE.md
  java/pom.xml
  python/t402/pyproject.toml
  typescript/packages/core/package.json
Due: typescript, python

docs(security): add security audit preparation documentation
  DEVELOPMENT_PLAN.md
  docs/pages/_meta.ts
  docs/pages/security/_meta.ts
  docs/pages/security/audit-scope.mdx
  docs/pages/security/cryptographic-operations.mdx
  docs/pages/security/index.mdx
  docs/pages/security/threat-model.mdx
Due: none

feat(typescript): extract @t402/evm-core package for viem-free types
  DEVELOPMENT_PLAN.md
  docs/pages/sdks/typescript/index.mdx
  typescript/packages/mechanisms/evm-core/.prettierignore
  typescript/packages/mechanisms/evm-core/.prettierrc
  typescript/packages/mechanisms/evm-core/README.md
  typescript/packages/mechanisms/evm-core/package.json
  typescript/packages/mechanisms/evm-core/src/constants.ts
  typescript/packages/mechanisms/evm-core/src/index.ts
  typescript/packages/mechanisms/evm-core/src/primitives.ts
  typescript/packages/mechanisms/evm-core/src/signer.ts
  typescript/packages/mechanisms/evm-core/src/tokens.ts
  typescript/packages/mechanisms/evm-core/src/types.ts
  typescript/packages/mechanisms/evm-core/src/utils.ts
  typescript/packages/mechanisms/evm-core/tsconfig.json
  typescript/packages/mechanisms/evm-core/tsup.config.ts
  typescript/packages/mechanisms/evm/package.json
  typescript/packages/mechanisms/evm/src/index.ts
  typescript/pnpm-lock.yaml
Due: typescript

feat(java): add SVM scheme types for Solana support
  java/src/main/java/io/t402/schemes/svm/ExactSvmPayload.java
  java/src/main/java/io/t402/schemes/svm/SvmAuthorization.java
  java/src/main/java/io/t402/schemes/svm/SvmConstants.java
  java/src/main/java/io/t402/schemes/svm/SvmUtils.java
  java/src/main/java/io/t402/schemes/svm/package-info.java
  java/src/test/java/io/t402/schemes/svm/SvmTypesTest.java
Due: none

docs: update development plan with Java SVM completion
  DEVELOPMENT_PLAN.md
Due: none

chore(java): bump version to 1.3.0 for SVM support
  CLAUDE.md
  java/pom.xml
Due: none

docs: add Java SDK v1.3.0 SVM release to changelog
  CHANGELOG.md
Due: none

test(evm-core): add basic test suite for exports
  typescript/packages/mechanisms/evm-core/src/index.test.ts
Due: none

Path conditions:
  typescript: any of: typescript/, but not: **/test/**, **/tests/**, **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, **/__pycache__/**, **/examples/**, **/docs/**
  go: any of: go/, but not: **/test/**, **/tests/**, **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, **/__pycache__/**, **/examples/**, **/docs/**
  python: any of: python/, but not: **/test/**, **/tests/**, **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, **/__pycache__/**, **/examples/**, **/docs/**
