Repository t402-io/t402: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, go, python

docs: add CHANGELOG for v2.0.0 release
  CHANGELOG.md
Due: none

docs: update documentation for v2.0.0 release
  docs/pages/_meta.ts
  docs/pages/chains/index.mdx
  docs/pages/index.mdx
  docs/pages/reference/_meta.ts
  docs/pages/reference/index.mdx
  docs/pages/reference/svm.mdx
  docs/pages/sdks/typescript/index.mdx
  docs/pages/sdks/typescript/wdk-multisig.mdx
Due: none

chore(docs): migrate from Vercel to Cloudflare Pages
  docs/next.config.mjs
Due: none

ci: add GitHub Actions workflow for docs auto-deploy
  .github/workflows/docs.yml
Due: none

chore(docs): add pnpm lockfile for CI
  docs/pnpm-lock.yaml
Due: none

docs: add version badge to homepage
  docs/pages/index.mdx
Due: none

docs: comprehensive SDK documentation update
  PLAN.md
  docs/pages/sdks/go.mdx
  docs/pages/sdks/python.mdx
  python/t402/README.md
Due: python

chore: bump Python SDK to v1.5.0
  python/t402/pyproject.toml
  python/t402/src/t402/__init__.py
Due: python

fix(ci): remove go and services from dockerignore for facilitator build
  .dockerignore
Due: none

fix(python): resolve linting errors for release
  python/t402/src/t402/bridge/client.py
  python/t402/src/t402/bridge/types.py
  python/t402/src/t402/cli.py
  python/t402/src/t402/erc4337/accounts.py
  python/t402/src/t402/erc4337/paymasters.py
  python/t402/src/t402/erc4337/types.py
  python/t402/src/t402/wdk/signer.py
  python/t402/src/t402/wdk/types.py
Due: python

chore: bump Python SDK to v1.5.1
  python/t402/pyproject.toml
  python/t402/src/t402/__init__.py
Due: python

fix(go): tidy go.mod dependencies
  go/go.mod
Due: go

fix(ci): use API token for PyPI publish, bump to v1.5.2
  .github/workflows/python_release.yml
  python/t402/pyproject.toml
  python/t402/src/t402/__init__.py
Due: python

fix(ci): use twine directly for PyPI publish, bump to v1.5.3
  .github/workflows/python_release.yml
  python/t402/pyproject.toml
  python/t402/src/t402/__init__.py
Due: python

Path conditions:
  typescript: any of: typescript/, but not: **/test/**, **/tests/**, **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, **/__pycache__/**, **/examples/**, **/docs/**
  go: any of: go/, but not: **/test/**, **/tests/**, **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, **/__pycache__/**, **/examples/**, **/docs/**
  python: any of: python/, but not: **/test/**, **/tests/**, **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, **/__pycache__/**, **/examples/**, **/docs/**
