Repository t402-io/t402: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, go, python

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "60...100"
  status:
    project:
      default:
        target: auto
        threshold: 2%
        informational: true
    patch:
      default:
        target: auto
        threshold: 2%
        informational: true

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

flags:
  typescript:
    paths:
      - typescript/
    carryforward: true
  go:
    paths:
      - go/
    carryforward: true
  python:
    paths:
      - python/
    carryforward: true

ignore:
  - "**/test/**"
  - "**/tests/**"
  - "**/*.test.ts"
  - "**/*.spec.ts"
  - "**/dist/**"
  - "**/node_modules/**"
  - "**/__pycache__/**"
  - "**/examples/**"
  - "**/docs/**"

docs: mark Polkadot Asset Hub as complete in coverage plan
  USDT_FULL_COVERAGE_PLAN.md
Due: none

docs: update documentation with all new mechanisms and 100% USDT coverage
  CLAUDE.md
  README.md
  USDT_FULL_COVERAGE_PLAN.md
Due: none

docs: add comprehensive 2026 development plan and update project documentation
  .gitignore
  CLAUDE.md
  DEVELOPMENT_PLAN_2026.md
Due: none

test(mechanisms): add comprehensive tests for Polkadot and Tezos TypeScript packages
  typescript/packages/mechanisms/polkadot/package.json
  typescript/packages/mechanisms/polkadot/test/index.test.ts
  typescript/packages/mechanisms/polkadot/test/unit/constants.test.ts
  typescript/packages/mechanisms/polkadot/test/unit/tokens.test.ts
  typescript/packages/mechanisms/polkadot/test/unit/utils.test.ts
  typescript/packages/mechanisms/polkadot/vitest.config.ts
  typescript/packages/mechanisms/tezos/test/index.test.ts
  typescript/packages/mechanisms/tezos/test/unit/constants.test.ts
  typescript/packages/mechanisms/tezos/test/unit/tokens.test.ts
  typescript/packages/mechanisms/tezos/test/unit/types.test.ts
  typescript/packages/mechanisms/tezos/test/unit/utils.test.ts
  typescript/packages/mechanisms/tezos/vitest.config.ts
  typescript/pnpm-lock.yaml
Due: typescript

test(mechanisms): add comprehensive tests for Polkadot and Tezos Go packages
  go/mechanisms/polkadot/constants_test.go
  go/mechanisms/polkadot/types_test.go
  go/mechanisms/tezos/constants_test.go
  go/mechanisms/tezos/types_test.go
Due: go

test(mechanisms): add comprehensive tests for NEAR and Aptos Go packages
  go/mechanisms/aptos/constants_test.go
  go/mechanisms/aptos/types_test.go
  go/mechanisms/near/constants_test.go
  go/mechanisms/near/types_test.go
Due: go

docs(mechanisms): add README documentation for new blockchain packages
  typescript/packages/mechanisms/aptos/README.md
  typescript/packages/mechanisms/near/README.md
  typescript/packages/mechanisms/polkadot/README.md
  typescript/packages/mechanisms/tezos/README.md
Due: typescript

chore: align TypeScript package versions to v2.3.0
  typescript/packages/cli/package.json
  typescript/packages/core/package.json
  typescript/packages/extensions/package.json
  typescript/packages/http/axios/package.json
  typescript/packages/http/express/package.json
  typescript/packages/http/fastify/package.json
  typescript/packages/http/fetch/package.json
  typescript/packages/http/hono/package.json
  typescript/packages/http/next/package.json
  typescript/packages/http/paywall/package.json
  typescript/packages/http/react/package.json
  typescript/packages/http/vue/package.json
  typescript/packages/mcp/package.json
  typescript/packages/mechanisms/aptos/package.json
  typescript/packages/mechanisms/evm-core/package.json
  typescript/packages/mechanisms/evm/package.json
  typescript/packages/mechanisms/near/package.json
  typescript/packages/mechanisms/polkadot/package.json
  typescript/packages/mechanisms/svm/package.json
  typescript/packages/mechanisms/tezos/package.json
  typescript/packages/mechanisms/ton/package.json
  typescript/packages/mechanisms/tron/package.json
  typescript/packages/wdk-bridge/package.json
  typescript/packages/wdk-gasless/package.json
  typescript/packages/wdk-multisig/package.json
  typescript/packages/wdk/package.json
Due: typescript

docs: update development plan with Q1 progress
  DEVELOPMENT_PLAN_2026.md
Due: none

feat(python): add CLI integration tests and fix bugs
  python/t402/src/t402/cli.py
  python/t402/tests/test_cli.py
Due: python

docs: mark Python CLI integration tests complete
  DEVELOPMENT_PLAN_2026.md
Due: none

feat(python): add comprehensive ERC-4337 test coverage
  python/t402/tests/test_erc4337.py
Due: none

feat(python): improve bridge/scan test coverage to 98%
  python/t402/tests/test_bridge.py
Due: none

docs: mark Python SDK test improvements complete
  DEVELOPMENT_PLAN_2026.md
Due: none
