Repository t402-io/t402: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, go, python

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "60...100"
  status:
    project:
      default:
        target: auto
        threshold: 2%
        informational: true
    patch:
      default:
        target: auto
        threshold: 2%
        informational: true

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

flags:
  typescript:
    paths:
      - typescript/
    carryforward: true
  go:
    paths:
      - go/
    carryforward: true
  python:
    paths:
      - python/
    carryforward: true

ignore:
  - "**/test/**"
  - "**/tests/**"
  - "**/*.test.ts"
  - "**/*.spec.ts"
  - "**/dist/**"
  - "**/node_modules/**"
  - "**/__pycache__/**"
  - "**/examples/**"
  - "**/docs/**"

chore: enhance monorepo tooling and automation
  .github/workflows/changeset_release.yml
  .github/workflows/integration_tests.yml
  typescript/.changeset/README.md
  typescript/.changeset/config.json
  typescript/package.json
  typescript/tsconfig.base.json
  typescript/turbo.json
  typescript/typedoc.json
Due: typescript

chore: update pnpm-lock.yaml with new dependencies
  typescript/pnpm-lock.yaml
Due: typescript

feat(sdk): add CLI tools for Python and Go SDKs
  go/cmd/t402/main.go
  python/t402/pyproject.toml
  python/t402/src/t402/__init__.py
  python/t402/src/t402/cli.py
Due: go, python

docs: comprehensive documentation overhaul for Phase 4
  CONTRIBUTING.md
  README.md
  RELEASING.md
  docs/GETTING_STARTED.md
  docs/TUTORIALS.md
Due: none

test(tron): add comprehensive test suite for TRON mechanism
  typescript/packages/mechanisms/tron/test/client.test.ts
  typescript/packages/mechanisms/tron/test/server.test.ts
  typescript/packages/mechanisms/tron/test/tokens.test.ts
Due: none

docs: add Phase 5 QA report with findings and recommendations
  docs/QA_REPORT.md
Due: none

fix(core): resolve TypeScript isolatedModules build errors
  typescript/packages/core/src/client/t402Client.ts
  typescript/packages/core/src/http/index.ts
Due: typescript

docs: update QA report - mark core build issue as fixed
  docs/QA_REPORT.md
Due: none

fix: resolve TypeScript build errors across packages
  typescript/packages/extensions/src/bazaar/index.ts
  typescript/packages/extensions/src/index.ts
  typescript/packages/http/react/src/providers/PaymentProvider.tsx
  typescript/packages/mcp/src/tools/pay.ts
  typescript/packages/mcp/src/tools/payGasless.ts
  typescript/packages/mechanisms/evm/src/bridge/router.ts
  typescript/packages/mechanisms/evm/src/erc4337/accounts/safe.ts
  typescript/packages/mechanisms/evm/src/erc4337/builder.ts
  typescript/packages/mechanisms/evm/src/erc4337/bundler.ts
  typescript/packages/mechanisms/evm/src/erc4337/bundlers/alchemy.ts
  typescript/packages/mechanisms/evm/src/erc4337/bundlers/pimlico.ts
  typescript/packages/mechanisms/evm/src/erc4337/paymaster.ts
  typescript/packages/mechanisms/evm/src/erc4337/paymasters/biconomy.ts
  typescript/packages/mechanisms/evm/src/erc4337/paymasters/pimlico.ts
  typescript/packages/mechanisms/evm/src/erc4337/paymasters/stackup.ts
  typescript/packages/mechanisms/evm/src/erc4337/t402.ts
  typescript/packages/mechanisms/evm/src/exact-legacy/server/scheme.ts
  typescript/packages/mechanisms/evm/src/exact/server/scheme.ts
  typescript/packages/mechanisms/ton/src/exact/client/register.ts
  typescript/packages/mechanisms/ton/src/exact/server/scheme.ts
  typescript/packages/mechanisms/tron/src/exact/client/register.ts
  typescript/packages/mechanisms/tron/src/exact/server/scheme.ts
  typescript/packages/wdk/src/bridge.ts
  typescript/packages/wdk/src/signer.ts
  typescript/packages/wdk/src/t402wdk.ts
Due: typescript

docs: update QA report with build fix details
  docs/QA_REPORT.md
Due: none

fix(tron): replace dynamic require with static ESM import
  docs/QA_REPORT.md
  typescript/packages/mechanisms/tron/src/exact/server/scheme.ts
  typescript/packages/mechanisms/tron/test/server.test.ts
Due: typescript

test(evm): add comprehensive integration tests
  docs/QA_REPORT.md
  typescript/packages/mechanisms/evm/test/integrations/cross-scheme.test.ts
  typescript/packages/mechanisms/evm/test/integrations/erc4337.test.ts
  typescript/packages/mechanisms/evm/test/integrations/exact-evm.test.ts
  typescript/packages/mechanisms/evm/test/integrations/multi-network.test.ts
Due: none

test(svm): add comprehensive integration tests
  docs/QA_REPORT.md
  typescript/packages/mechanisms/svm/test/integrations/exact-svm.test.ts
  typescript/packages/mechanisms/svm/test/integrations/multi-network.test.ts
  typescript/packages/mechanisms/svm/test/integrations/verification.test.ts
Due: none

test(ton): add comprehensive integration tests
  docs/QA_REPORT.md
  typescript/packages/mechanisms/ton/test/integrations/multi-network.test.ts
  typescript/packages/mechanisms/ton/test/integrations/verification.test.ts
  typescript/packages/mechanisms/ton/vitest.integration.config.ts
Due: typescript

test(tron): add comprehensive integration tests
  docs/QA_REPORT.md
  typescript/packages/mechanisms/tron/test/integrations/multi-network.test.ts
  typescript/packages/mechanisms/tron/test/integrations/verification.test.ts
  typescript/packages/mechanisms/tron/vitest.integration.config.ts
Due: typescript
