Repository t402-io/t402: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, go, python

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "60...100"
  status:
    project:
      default:
        target: auto
        threshold: 2%
        informational: true
    patch:
      default:
        target: auto
        threshold: 2%
        informational: true

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

flags:
  typescript:
    paths:
      - typescript/
    carryforward: true
  go:
    paths:
      - go/
    carryforward: true
  python:
    paths:
      - python/
    carryforward: true

ignore:
  - "**/test/**"
  - "**/tests/**"
  - "**/*.test.ts"
  - "**/*.spec.ts"
  - "**/dist/**"
  - "**/node_modules/**"
  - "**/__pycache__/**"
  - "**/examples/**"
  - "**/docs/**"

docs(whitepaper): add comprehensive T402 protocol whitepaper
  whitepaper/.gitignore
  whitepaper/Makefile
  whitepaper/WHITEPAPER_PLAN.md
  whitepaper/appendices/A-schemas.tex
  whitepaper/appendices/B-networks.tex
  whitepaper/appendices/C-errors.tex
  whitepaper/appendices/D-glossary.tex
  whitepaper/bibliography.bib
  whitepaper/chapters/01-abstract.tex
  whitepaper/chapters/02-introduction.tex
  whitepaper/chapters/03-architecture.tex
  whitepaper/chapters/04-specifications.tex
  whitepaper/chapters/05-payment-schemes.tex
  whitepaper/chapters/06-transport-layers.tex
  whitepaper/chapters/07-facilitator.tex
  whitepaper/chapters/08-security.tex
  whitepaper/chapters/09-implementation.tex
  whitepaper/chapters/10-use-cases.tex
  whitepaper/chapters/11-economics.tex
  whitepaper/chapters/12-future-work.tex
  whitepaper/chapters/13-conclusion.tex
  whitepaper/figures/architecture.pdf
  whitepaper/figures/architecture.tex
  whitepaper/figures/eip3009-flow.pdf
  whitepaper/figures/eip3009-flow.tex
  whitepaper/figures/multichain.pdf
  whitepaper/figures/multichain.tex
  whitepaper/figures/payment-sequence.pdf
  whitepaper/figures/payment-sequence.tex
  whitepaper/figures/t402-logo.pdf
  whitepaper/figures/t402-logo.tex
  whitepaper/figures/threat-model.pdf
  whitepaper/figures/threat-model.tex
  whitepaper/main.tex
  whitepaper/preamble.tex
Due: none

docs: add whitepaper PDF link to navigation
  docs/pages/_meta.ts
  docs/public/t402-whitepaper.pdf
Due: none

fix(docs): resolve use-cases page build errors
  docs/pages/use-cases/index.mdx
Due: none

docs: add whitepaper link to README
  README.md
Due: none

docs: add comprehensive development plan for v2.0 completion
  DEVELOPMENT_PLAN.md
Due: none

feat(specs): add standardized error codes and spec improvements
  services/facilitator/internal/errors/codes.go
  specs/README.md
  specs/schemes/exact/scheme_exact_sui.md
  specs/t402-specification-v2.md
Due: none

feat(specs): add standardized error codes and spec improvements
  specs/README.md
  specs/schemes/exact/scheme_exact_sui.md
  specs/t402-specification-v2.md
Due: none

docs: add troubleshooting guide and fix SDK feature matrix
  README.md
  docs/pages/advanced/_meta.ts
  docs/pages/advanced/troubleshooting.mdx
Due: none

docs: add performance guide and up-to scheme specification
  DEVELOPMENT_PLAN.md
  docs/pages/advanced/_meta.ts
  docs/pages/advanced/performance.mdx
  specs/README.md
  specs/schemes/upto/scheme_upto.md
  specs/schemes/upto/scheme_upto_evm.md
Due: none

feat(java): implement real Ed25519 signing for Solana
  DEVELOPMENT_PLAN.md
  java/pom.xml
  java/src/main/java/io/t402/crypto/SvmSigner.java
  java/src/test/java/io/t402/crypto/SvmSignerTest.java
Due: none

feat(typescript): implement upto scheme types
  typescript/packages/core/src/types/index.ts
  typescript/packages/core/src/types/schemes/index.ts
  typescript/packages/core/src/types/schemes/upto.ts
  typescript/packages/core/test/unit/types/upto.test.ts
  typescript/packages/mechanisms/evm/package.json
  typescript/packages/mechanisms/evm/src/index.ts
  typescript/packages/mechanisms/evm/src/types.ts
  typescript/packages/mechanisms/evm/src/upto/client/index.ts
  typescript/packages/mechanisms/evm/src/upto/client/scheme.ts
  typescript/packages/mechanisms/evm/src/upto/index.ts
  typescript/packages/mechanisms/evm/test/unit/upto/types.test.ts
  typescript/packages/mechanisms/evm/tsup.config.ts
Due: typescript

docs: update development plan - TypeScript upto types complete
  DEVELOPMENT_PLAN.md
Due: none

feat(go): implement upto scheme types
  DEVELOPMENT_PLAN.md
  go/mechanisms/evm/upto/types.go
  go/mechanisms/evm/upto/types_test.go
  go/schemes/upto/types.go
  go/schemes/upto/types_test.go
Due: go

feat(python): implement upto scheme types
  python/t402/src/t402/schemes/__init__.py
  python/t402/src/t402/schemes/evm/__init__.py
  python/t402/src/t402/schemes/evm/upto/__init__.py
  python/t402/src/t402/schemes/evm/upto/client.py
  python/t402/src/t402/schemes/evm/upto/types.py
  python/t402/src/t402/schemes/upto/__init__.py
  python/t402/src/t402/schemes/upto/types.py
  python/t402/tests/test_upto.py
  python/t402/tests/test_upto_evm.py
Due: python

docs: update development plan - Python upto types complete
  DEVELOPMENT_PLAN.md
Due: none
