Repository t402-io/t402: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, go, python

docs: update roadmap with paywall UI improvements
  ROADMAP.md
Due: none

feat(paywall): add payment progress indicator to all paywalls
  typescript/packages/http/paywall/src/components/PaymentProgress.tsx
  typescript/packages/http/paywall/src/evm/EvmPaywall.tsx
  typescript/packages/http/paywall/src/styles.css
  typescript/packages/http/paywall/src/svm/SolanaPaywall.tsx
  typescript/packages/http/paywall/src/ton/TonPaywall.tsx
  typescript/packages/http/paywall/src/tron/TronPaywall.tsx
Due: typescript

docs: update roadmap with payment progress indicator
  ROADMAP.md
Due: none

feat(paywall): add mobile optimization and QR code payment support
  typescript/packages/http/paywall/DEVELOPMENT_PLAN.md
  typescript/packages/http/paywall/src/Providers.tsx
  typescript/packages/http/paywall/src/components/PaymentQRCode.tsx
  typescript/packages/http/paywall/src/evm/index.ts
  typescript/packages/http/paywall/src/evm/paywall.ts
  typescript/packages/http/paywall/src/styles.css
  typescript/packages/http/paywall/src/types.ts
  typescript/packages/http/paywall/src/utils/mobile.ts
  typescript/packages/http/paywall/src/window.d.ts
Due: typescript

docs: update roadmap with Phase 2 paywall features
  ROADMAP.md
Due: none

feat(paywall): add complete Stacks (Bitcoin L2) paywall implementation
  go/http/stacks_paywall_template.go
  python/t402/src/t402/stacks_paywall_template.py
  typescript/packages/http/paywall/package.json
  typescript/packages/http/paywall/src/PaywallApp.tsx
  typescript/packages/http/paywall/src/index.ts
  typescript/packages/http/paywall/src/paywallUtils.ts
  typescript/packages/http/paywall/src/stacks/Spinner.tsx
  typescript/packages/http/paywall/src/stacks/StacksPaywall.tsx
  typescript/packages/http/paywall/src/stacks/build.ts
  typescript/packages/http/paywall/src/stacks/entry.tsx
  typescript/packages/http/paywall/src/stacks/gen/template.ts
  typescript/packages/http/paywall/src/stacks/index.ts
  typescript/packages/http/paywall/src/stacks/paywall.ts
  typescript/packages/http/paywall/src/stacks/stacks/rpc.ts
  typescript/packages/http/paywall/src/stacks/stacks/types.ts
  typescript/packages/http/paywall/src/stacks/stacks/useStacksBalance.ts
  typescript/packages/http/paywall/src/stacks/stacks/useStacksSigner.ts
  typescript/packages/http/paywall/src/stacks/stacks/useStacksWallet.ts
  typescript/packages/http/paywall/src/stacks/template-loader.ts
  typescript/packages/http/paywall/tsup.config.ts
Due: typescript, go, python

docs: update roadmap with Stacks paywall
  ROADMAP.md
Due: none

feat(extensions): complete SIWx extension implementation
  typescript/packages/extensions/package.json
  typescript/packages/extensions/src/sign-in-with-x/TODO.md
  typescript/packages/extensions/src/sign-in-with-x/client.test.ts
  typescript/packages/extensions/src/sign-in-with-x/client.ts
  typescript/packages/extensions/src/sign-in-with-x/index.ts
  typescript/packages/extensions/src/sign-in-with-x/server.test.ts
  typescript/packages/extensions/src/sign-in-with-x/server.ts
  typescript/pnpm-lock.yaml
Due: typescript

docs: update roadmap with SIWx implementation details
  ROADMAP.md
Due: none

docs: mark Stacks paywall as complete in development plan
  typescript/packages/http/paywall/DEVELOPMENT_PLAN.md
Due: typescript

feat(evm): expand USDT0 support to all 19 LayerZero networks
  USDT0_EXPANSION_PLAN.md
  go/mechanisms/evm/bridge/constants.go
  go/mechanisms/evm/constants.go
  python/t402/src/t402/chains.py
  python/t402/src/t402/networks.py
  typescript/packages/http/paywall/src/evmChains.ts
  typescript/packages/mechanisms/evm/src/tokens.ts
  typescript/packages/mechanisms/evm/test/unit/tokens.test.ts
Due: typescript, go, python

feat(evm): expand USDT0 support to all 19 LayerZero networks
  USDT0_EXPANSION_PLAN.md
  go/mechanisms/evm/bridge/constants.go
  go/mechanisms/evm/constants.go
  python/t402/src/t402/chains.py
  python/t402/src/t402/networks.py
  services/facilitator/cmd/facilitator/main.go
  services/facilitator/internal/config/config.go
  typescript/packages/http/paywall/src/evmChains.ts
  typescript/packages/mechanisms/evm/src/tokens.ts
  typescript/packages/mechanisms/evm/test/unit/tokens.test.ts
Due: typescript, go, python

docs: reorganize development plans and create full USDT coverage roadmap
  ROADMAP.md
  USDT_FULL_COVERAGE_PLAN.md
  docs/archived-plans/DEVELOPMENT_PLAN.md
  docs/archived-plans/DOCUMENTATION_UPDATE_PLAN.md
  docs/archived-plans/PAYWALL_DEVELOPMENT_PLAN.md
  docs/archived-plans/USDT0_EXPANSION_PLAN.md
  docs/archived-plans/X402_COMPARISON_2026.md
Due: none

feat(legacy): add exact-legacy scheme for legacy USDT support
  go/mechanisms/evm/constants.go
  go/mechanisms/evm/exact-legacy/facilitator/scheme.go
  go/mechanisms/evm/types.go
  python/t402/src/t402/chains.py
  python/t402/src/t402/schemes/evm/__init__.py
  python/t402/src/t402/schemes/evm/exact_legacy/__init__.py
  python/t402/src/t402/schemes/evm/exact_legacy/client.py
  python/t402/src/t402/schemes/evm/exact_legacy/server.py
  services/facilitator/cmd/facilitator/main.go
  services/facilitator/internal/config/config.go
  specs/schemes/legacy/scheme_legacy.md
  specs/schemes/legacy/scheme_legacy_evm.md
  typescript/packages/http/paywall/src/evmChains.ts
  typescript/packages/mechanisms/evm/src/tokens.ts
Due: typescript, go, python

feat(legacy): add exact-legacy scheme for legacy USDT support
  go/mechanisms/evm/constants.go
  go/mechanisms/evm/exact-legacy/facilitator/scheme.go
  go/mechanisms/evm/types.go
  python/t402/src/t402/chains.py
  python/t402/src/t402/schemes/evm/__init__.py
  python/t402/src/t402/schemes/evm/exact_legacy/__init__.py
  python/t402/src/t402/schemes/evm/exact_legacy/client.py
  python/t402/src/t402/schemes/evm/exact_legacy/server.py
  specs/schemes/legacy/scheme_legacy.md
  specs/schemes/legacy/scheme_legacy_evm.md
  typescript/packages/http/paywall/src/evmChains.ts
  typescript/packages/mechanisms/evm/src/tokens.ts
Due: typescript, go, python

Path conditions:
  typescript: any of: typescript/, but not: **/test/**, **/tests/**, **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, **/__pycache__/**, **/examples/**, **/docs/**
  go: any of: go/, but not: **/test/**, **/tests/**, **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, **/__pycache__/**, **/examples/**, **/docs/**
  python: any of: python/, but not: **/test/**, **/tests/**, **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, **/__pycache__/**, **/examples/**, **/docs/**
