Repository t402-io/t402: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, go, python

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "60...100"
  status:
    project:
      default:
        target: auto
        threshold: 2%
        informational: true
    patch:
      default:
        target: auto
        threshold: 2%
        informational: true

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

flags:
  typescript:
    paths:
      - typescript/
    carryforward: true
  go:
    paths:
      - go/
    carryforward: true
  python:
    paths:
      - python/
    carryforward: true

ignore:
  - "**/test/**"
  - "**/tests/**"
  - "**/*.test.ts"
  - "**/*.spec.ts"
  - "**/dist/**"
  - "**/node_modules/**"
  - "**/__pycache__/**"
  - "**/examples/**"
  - "**/docs/**"

docs(typescript): add READMEs for wdk and cli packages
  typescript/packages/cli/README.md
  typescript/packages/wdk-bridge/README.md
  typescript/packages/wdk-gasless/README.md
  typescript/packages/wdk-multisig/README.md
Due: typescript

test(extensions): add tests for server and facilitatorClient
  typescript/packages/extensions/test/facilitatorClient.test.ts
  typescript/packages/extensions/test/server.test.ts
Due: none

feat(java): add protocol v2, Spring enhancements, and ERC-4337 bundlers
  java/CHANGELOG.md
  java/pom.xml
  java/src/main/java/io/t402/client/HttpFacilitatorClient.java
  java/src/main/java/io/t402/client/Kind.java
  java/src/main/java/io/t402/client/SupportedResponse.java
  java/src/main/java/io/t402/erc4337/UserOperation.java
  java/src/main/java/io/t402/erc4337/bundler/AlchemyBundler.java
  java/src/main/java/io/t402/erc4337/bundler/BundlerFactory.java
  java/src/main/java/io/t402/erc4337/bundler/BundlerProvider.java
  java/src/main/java/io/t402/erc4337/bundler/PimlicoBundler.java
  java/src/main/java/io/t402/erc4337/safe/Operation.java
  java/src/main/java/io/t402/erc4337/safe/SafeAccount.java
  java/src/main/java/io/t402/erc4337/safe/SafeCall.java
  java/src/main/java/io/t402/model/PaymentPayload.java
  java/src/main/java/io/t402/model/PaymentRequiredResponse.java
  java/src/main/java/io/t402/model/PaymentRequirements.java
  java/src/main/java/io/t402/model/ResourceInfo.java
  java/src/main/java/io/t402/server/PaymentFilter.java
  java/src/main/java/io/t402/spring/PaymentInterceptor.java
  java/src/main/java/io/t402/spring/RequirePayment.java
  java/src/main/java/io/t402/spring/RouteConfig.java
  java/src/main/java/io/t402/spring/T402AutoConfiguration.java
  java/src/main/java/io/t402/spring/T402Properties.java
  java/src/main/java/io/t402/spring/T402WebMvcConfigurer.java
  java/src/main/java/io/t402/spring/reactive/PaymentWebFilter.java
  java/src/main/java/io/t402/spring/reactive/T402WebFluxConfiguration.java
  java/src/test/java/io/t402/client/HttpFacilitatorClientTest.java
  java/src/test/java/io/t402/erc4337/UserOperationTest.java
  java/src/test/java/io/t402/erc4337/bundler/BundlerFactoryTest.java
  java/src/test/java/io/t402/erc4337/safe/SafeAccountTest.java
  java/src/test/java/io/t402/model/PaymentPayloadTest.java
  java/src/test/java/io/t402/server/PaymentFilterTest.java
  java/src/test/java/io/t402/spring/PaymentInterceptorTest.java
  java/src/test/java/io/t402/spring/T402PropertiesTest.java
Due: none

feat(python): enhance FastAPI middleware and protocol v2 support
  python/t402/src/t402/__init__.py
  python/t402/src/t402/common.py
  python/t402/src/t402/encoding.py
  python/t402/src/t402/fastapi/__init__.py
  python/t402/src/t402/fastapi/dependencies.py
  python/t402/src/t402/fastapi/middleware.py
  python/t402/src/t402/schemes/__init__.py
  python/t402/src/t402/schemes/evm/__init__.py
  python/t402/src/t402/schemes/evm/exact/__init__.py
  python/t402/src/t402/schemes/evm/exact/client.py
  python/t402/src/t402/schemes/evm/exact/server.py
  python/t402/src/t402/schemes/interfaces.py
  python/t402/src/t402/schemes/registry.py
  python/t402/src/t402/schemes/ton/__init__.py
  python/t402/src/t402/schemes/ton/exact/__init__.py
  python/t402/src/t402/schemes/ton/exact/client.py
  python/t402/src/t402/schemes/ton/exact/server.py
  python/t402/src/t402/schemes/tron/__init__.py
  python/t402/src/t402/schemes/tron/exact/__init__.py
  python/t402/src/t402/schemes/tron/exact/client.py
  python/t402/src/t402/schemes/tron/exact/server.py
  python/t402/src/t402/types.py
  python/t402/tests/test_fastapi.py
  python/t402/tests/test_paywall.py
  python/t402/tests/test_schemes.py
  python/t402/tests/test_v2_types.py
  python/t402/uv.lock
Due: python

docs: update Java SDK version to 1.1.0 in CLAUDE.md
  CLAUDE.md
Due: none

docs: update Java SDK version to 1.1.0 in README
  README.md
Due: none

docs: mark Java SDK Phase 4 complete, update to v1.1.0
  ROADMAP.md
Due: none

feat(python): release v1.7.0 with schemes module and FastAPI enhancements
  README.md
  ROADMAP.md
  python/CHANGELOG.md
  python/t402/pyproject.toml
Due: python

docs: update Python SDK version to 1.7.0
  CLAUDE.md
Due: none

docs: update CHANGELOG with Python v1.7.0 and Java v1.1.0
  CHANGELOG.md
Due: none

fix(python): resolve ruff linting errors for v1.7.1 release
  python/CHANGELOG.md
  python/t402/pyproject.toml
  python/t402/src/t402/common.py
  python/t402/src/t402/fastapi/dependencies.py
  python/t402/src/t402/fastapi/middleware.py
  python/t402/src/t402/schemes/evm/exact/client.py
  python/t402/src/t402/schemes/evm/exact/server.py
  python/t402/src/t402/schemes/interfaces.py
  python/t402/src/t402/schemes/registry.py
  python/t402/src/t402/schemes/ton/exact/client.py
  python/t402/src/t402/schemes/ton/exact/server.py
  python/t402/src/t402/schemes/tron/exact/server.py
  python/t402/uv.lock
Due: python

fix(java): update pom.xml version to 1.1.0 for Maven Central release
  java/pom.xml
Due: none

docs: update Python version to 1.7.1
  README.md
  ROADMAP.md
Due: none
