Repository t402-io/t402: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, go, python

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "60...100"
  status:
    project:
      default:
        target: auto
        threshold: 2%
        informational: true
    patch:
      default:
        target: auto
        threshold: 2%
        informational: true

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

flags:
  typescript:
    paths:
      - typescript/
    carryforward: true
  go:
    paths:
      - go/
    carryforward: true
  python:
    paths:
      - python/
    carryforward: true

ignore:
  - "**/test/**"
  - "**/tests/**"
  - "**/*.test.ts"
  - "**/*.spec.ts"
  - "**/dist/**"
  - "**/node_modules/**"
  - "**/__pycache__/**"
  - "**/examples/**"
  - "**/docs/**"

feat(go): improve MCP test coverage from 23% to 45%
  go/mcp/mcp_test.go
Due: go

feat(go): improve WDK test coverage from 60% to 63%
  go/wdk/wdk_test.go
Due: go

feat(go): add comprehensive tests for extensions package
  go/extensions/types/types_test.go
  go/extensions/v1/facilitator_test.go
Due: go

docs(python): add deprecation notice for exact-legacy scheme
  python/t402/README.md
  python/t402/src/t402/schemes/evm/__init__.py
  python/t402/src/t402/schemes/evm/exact_legacy/client.py
  python/t402/src/t402/schemes/evm/exact_legacy/server.py
Due: python

feat(go): expand MCP test coverage from 23% to 46%
  go/mcp/mcp_test.go
Due: go

docs: update development plan with test coverage progress
  DEVELOPMENT_PLAN_2026.md
Due: none

refactor: extract Grafana to independent services/grafana
  services/facilitator/docker-compose.yaml
  services/grafana/Dockerfile
  services/grafana/ROLLBACK.md
  services/grafana/dashboards/facilitator.json
  services/grafana/docker-compose.yml
  services/grafana/prometheus.yml
  services/grafana/provisioning/alerting/alerts.yml
  services/grafana/provisioning/alerting/contact-points.yml
  services/grafana/provisioning/alerting/notification-policies.yml
  services/grafana/provisioning/dashboards/default.yml
  services/grafana/provisioning/datasources/prometheus.yml
Due: none

chore(ci): update workflow paths for services directory restructure
  .github/workflows/api-docs.yml
  .github/workflows/docs.yml
  .github/workflows/grafana.yml
  .github/workflows/npm_advanced_release.yml
Due: none

docs: update documentation for services directory restructure
  CLAUDE.md
  DEVELOPMENT_PLAN_2026.md
Due: none

fix(go): fix failing Go SDK tests
  sdks/go/http/server.go
  sdks/go/mechanisms/evm/bridge/bridge_test.go
  sdks/go/mechanisms/evm/bridge/smart_router_test.go
  sdks/go/mechanisms/tezos/types_test.go
  sdks/go/test/unit/http_test.go
Due: none

fix(ci): update paths after SDK reorganization
  .github/dependabot.yml
  .github/workflows/unit_tests.yml
Due: none
